<div class="p-d-flex p-flex-column p-flex-md-row">
  <div class="">
      <div class="p-grid">
          <div class="p-col-12 p-grid">
            <!-- top -->
              <div class="p-col-9 ">
                <app-top [count]="pendingTasksCount"></app-top>
              </div>

              <div class="p-col">
                <button pButton type="button" (click)="showDialog()" icon="pi pi-plus" class="p-button-rounded p-button-outlined"></button>
              </div>
            <!-- Add/Update Task Dialog -->
            <p-dialog position="top" header="Task" [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000">
              <form #todoForm="ngForm" (submit)="onSubmit(todoForm)">
                <div class="p-inputgroup">
                <input type="text" name="title" [(ngModel)]="formData.title" pInputText placeholder="What do you want to do?" required>
                <input type="text" name="description" [(ngModel)]="formData.description" pInputText placeholder="Description">    
                <button type="submit" icon="pi pi-check" pButton pRipple label="" [disabled]="todoForm.invalid"></button> 
                </div>
            </form>
           </p-dialog> 
          </div>
          
          <!-- Tasks -->
          <div class="p-col-12"> 
            <div class="p-d-flex p-flex-column" *ngFor="let task of todo.todoTasks" [ngStyle]="{color:'var(--primary-color)'}">  
                <div class="p-mb-3 p-p-2 p-shadow-1 p-grid" [ngClass]="{'task-completed': task.isCompleted}">
                  <div class="p-col-9">
                    <p-checkbox [binary]="true" [(ngModel)]="task.isCompleted" (onChange)="toggleTaskInDb($event,task)" class="p-mr-2" name="groupname" value="val1"></p-checkbox>
                    {{task.title}} <div class="p-d-inline" *ngIf="task.description != '' ">&nbsp;-&nbsp; {{task.description}}</div>
                  </div>
                  <div class="p-col-1">
                    <a><i class="pi pi-external-link" [ngStyle]="{color:'green'}" (click)="onEdit(task)"></i></a>
                  </div>
                  <div class="p-col-1">
                    <i class="pi pi-times" [ngStyle]="{color:'red'}" (click)="onDelete(task.id)"></i>
                  </div>       
                </div>
            </div>
          </div>
          <!-- Select View -->
          <div class="p-col-12">
            <p-selectButton (click)="changeView()" [options]="itemViews" [(ngModel)]="selectedView"  optionLabel="name" optionValue="value"></p-selectButton>
          </div>
        
      </div>
  </div>

  <!-- Calender Component-->
  <div class="p-p-5 p-mx-auto">
    <app-cal class="" (notify)="onNotify($event)"></app-cal>
  </div>
</div>

