<p>
  register works!
</p>
<h1>User Registration</h1>

<form #registerForm="ngForm" (submit)="onSubmit(registerForm)">
  <div class="p-fluid">
    <div class="p-field">
      <label for="userName">Username</label>
      <input id="userName" type="text" name="userName" [(ngModel)]="userService.registerForm.userName" pInputText> 
    </div>
    <div class="p-field">
        <label for="firstName">Firstname</label>
        <input id="firstName" name="firstName" type="text" [(ngModel)]="userService.registerForm.firstName" pInputText> 
    </div>
    <div class="p-field">
        <label for="lastname">Lastname</label>
        <input id="lastName" name="lastName" [(ngModel)]="userService.registerForm.lastName" type="text" pInputText> 
    </div>
    <div class="p-field">
      <label for="email">Email</label>
      <input id="email" name="email" type="text" [(ngModel)]="userService.registerForm.email" pInputText> 
    </div>
    <div class="p-field">
      <label for="password">Password</label>
      <input id="password" name="password" [(ngModel)]="userService.registerForm.password" type="text" pInputText> 
    </div>
    <div class="p-field">
      <label for="confirmPassword">ConfirmPassword</label>
      <input id="confirmPassword" name="confirmPassword" [(ngModel)]="userService.registerForm.confirmPassword" type="text" pInputText> 
    </div>
  </div>

  <button type="submit" pButton>Submit</button>
  
</form>

{{userService.registerForm | json}}



