.space{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

h2{
    font-family:cursive;
    margin: 40px;
    
}

@media screen and (max-width: 1000px) {
    .space {
      margin-left: 40px; 
      margin-right: 40px;
      margin-top: 50px;
    }
}