<p-toast position="top-right" key="tl"></p-toast>

<h1>User Login</h1>

<form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
  <div class="p-fluid">
    <div class="p-field">
      <label for="userName">Username</label>
      <input id="userName" type="text" name="userName" [(ngModel)]="userService.loginForm.userName" pInputText> 
    </div>
    <div class="p-field">
      <label for="password">Password</label>
      <input id="password" name="password" [(ngModel)]="userService.loginForm.password" type="text" pInputText> 
    </div>
  </div>

  <button type="submit" pButton>Log In</button>
  
</form>
